.header {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-pages-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-icon {
    color: white;
    font-size: 36px;
}